body {
    background-color: #edecea;
    font-family: 'Gotham Narrow SSm A' , 'Gotham Narrow SSm B' , sans-serif;
    text-transform: uppercase;
    color: #444444;
    text-align: center;
}

#companyText {
    font-size: large;
    letter-spacing: 3.5px;
    margin-bottom: 25px;
}

#companyInfo {
    margin: auto;
    font-size: small;
    font-family: 'Gotham Narrow SSm A' , 'Gotham Narrow SSm B' , sans-serif;
    text-transform: none;
    color: #444444;
    letter-spacing: 0.5px;
}

.companyElement {
    margin: 0;
    margin-top: 2px;
}

.menuDiv {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 10% 33%;
    gap: 5%;
    justify-content: center;
}

#menuLogo {
    background: url('maxncheese.png') no-repeat;
    background-size:contain;
}

.menuElement {
    color: #8F8F8E;
    padding-right: 25px;
    padding-left: 25px;
    font-size: small;
    letter-spacing: 3.5px;
}

.menuElementDiv {
    display: flex;
    flex-direction: horizontal;
}

#leftMenu {
    justify-content: right;
}

#rightMenu {
    justify-content: left;
}

#home {
    color: #444444;
}


#albumGrid {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 175px 175px 175px;
    grid-gap: 30px;
    justify-content: center;
}

.albumGridElement {
    margin: 0;
    width: 175px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.albumPhoto {
    background-color: blue;
    width: 150px;
    height: 150px;
}

.socialsElement {
    font-family: 'Gotham Narrow SSm A' , 'Gotham Narrow SSm B' , sans-serif;
    text-transform: none;
    color: #444444;
    letter-spacing: 0.5px;
    font-size: 14px;
}

#socials {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#socialLinks {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    gap: 20px;
}

.socialLinksElement {
    font-size: 25px;;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.page {
    position: relative;
    background-color: transparent;
    margin: 0;
    width: 100%;
    grid-area: inner-div;
}

#pageContent {
    display: grid;
    place-items: top;
    grid-template-areas: "inner-div";
}