html, body {
    background-color: #d4d3d3;
    font-family: "Spectral";
    color: #444444;
    text-align: center;
    width: 100%;
    letter-spacing: 1.15px;
    margin: 0;
    height: 100%;
}


#companyText {
    font-size: large;
    letter-spacing: 3.5px;
    margin-bottom: 25px;
}

#companyInfo {
    margin: auto;
    font-size: small;
    text-transform: none;
    color: #444444;
    letter-spacing: 0.5px;
}

.companyElement {
    margin: 0;
    margin-top: 2px;
}

.menuDiv {
    width: 100%;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    text-transform: uppercase;
}

#menu {
    margin-top: 20px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Georgia";
    gap: 20px;
}

#menuLogo {
    width: 250px;
    height: 87px;
    background: url('maxncheese.png') no-repeat;
    background-size:contain;
}

.menuElement {
    color: #8F8F8E;
    font-size: medium;
    letter-spacing: 3.5px;
    z-index: 1;
}

.barMenu {
    padding-left: 10px;
    padding-right: 10px;
}

.menuElementDiv {
    display: flex;
    flex-direction: horizontal;
}

#home {
    color: #444444;
}

#albumGrid {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 23vw 23vw 23vw;
    grid-gap: 30px;
    justify-content: center;
}

.albumGridElement {
    margin: 0;
    width: 23vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: 3.5px;
    font-size: 15px;
}

.albumPhoto {
    margin-bottom: 2vw;
    width: 20vw;
    height: 20vw;
    background-size:contain;
    box-shadow: 2vw 2vw #bcbcbc;
}

.socialsElement {
    text-transform: none;
    color: #444444;
    letter-spacing: 0.5px;
    font-size: 14px;
}

#socials {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#socialLinks {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    gap: 20px;
}

.socialLinksElement {
    font-size: 25px;;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.page {
    background-color: transparent;
    margin: 0;
    width: 100%;
    grid-area: inner-div;
}

#pageContent {
    position: absolute;
    margin-top: 170px;
    width: 100%;
    display: grid;
    place-items: top;
    grid-template-areas: "inner-div";
}

.calendar {
    margin-top: 50px;
}

#calendar {
    width: 500px;
    height: 1000px;
    box-shadow: 15px 15px #bcbcbc;
}


#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
}

.aboutDiv {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    width: 100%;
    height: 37.5vw;
}

#pricingDiv {
    text-align: left;
    gap: 10vw;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5vw;
}


#photographerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headshotPhoto {
    width: 25vw;
    height: 37.5vw;
    background: url("HeadShotsPhoto.jpeg") no-repeat;
    background-size: contain;
}

#sportsPhoto {
    width: 25vw;
    height: 37.5vw;
    background: url("SportsPhoto.jpeg") no-repeat;
    background-size: cover;
}

#familyPhoto {
    width: 25vw;
    height: 37.5vw;
    background: url("FamilyPhoto.jpeg") no-repeat;
    background-size: cover;
}

#miniHeadshotPhoto {
    width: 25vw;
    height: 37.5vw;
    background: url("MiniHeadshotPhoto.jpeg") no-repeat;
    background-size: cover;
}

#eventPhoto {
    width: 25vw;
    height: 37.5vw;
    background: url("EventPhoto.jpeg") no-repeat;
    background-size: cover;
    
}

#photographerPhoto {
    width: 50vw;
    height: 33vw;
    background: url("PhotographerPhoto.jpeg") no-repeat;
    background-size: cover;
    box-shadow: 2vw 2vw #bcbcbc;
    
}

.aboutPhoto {
    box-shadow: 2vw 2vw #bcbcbc;
}

.aboutTitle {
    font-size: 3vw;
    margin: 0;
}

.aboutDesc {
    font-size: 1.5vw;
    max-width: 40vw;
    margin: 0;
}

.desc {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    row-gap: 5vw;
    width: 25%;
}

#photographerBio {
    max-width: 75vw;
    margin-top: 10px;
    font-size: large;
    margin-bottom: 0;
}

#Photographer {
    margin: 0;
}

#Cost {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 0;
    margin-top: 5vh;
}

#cost {
    margin-bottom: 0;
    margin-top: 0;
}

#photographerDesc {
    width: 40%;
    text-align: center;
    font-size: small;
    text-transform: none;
}

#photographer {
    margin-top: 40px;
    margin-bottom: 40px;
}


.sectionTitle {
    font-size: 4vw;
    font-weight: bold;
}

#photographerName {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
    font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', sans-serif;
}

#welcome {
    font-size: 4vw;
    font-weight: bolder;
}

#homePhotoScroll {
    margin-top: 50px;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    width: 100%;
}

.scrollImage {
    height: 31.25vw;
    width: 25vw;
    object-fit: contain;
    grid-area: layer;
}

.hidePhoto {
    display: grid;
    grid-template-areas: "layer";
    align-items: center;
    justify-content: center;
}

.blackLayer {
    grid-area: layer;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
}

.blackLayerSides {
    opacity: 0.7;
}

#blackLayerCenter {
    opacity: 0;
}

.arrow {
    grid-area: layer;
    color: white;
    z-index: 2;
}

#leftArrow {
    font-size: 5vw;
}

#rightArrow {
    font-size: 5vw;
}

#contactForm {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    gap: 0px;
    width: 50%;
    margin-left: 25%;
    font-size: large;
}

label {
    font-size: large;
}

input {
    width: 100%;
    font-size: large;
    padding: 3px;
    margin-bottom: 20px;
}

#submit {
    width: 100px;
    background-color: rgb(187, 184, 184);
    text-align: center;
    border-radius: 10px;
    font-size: x-large;
    padding: 10px;
    margin-top: 40px;
}

#submitDiv {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
}

#contactInfo {
    text-align: center;
    font-size: medium;
}

#contactTitle {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 0;
}

#contactSocials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;
}

.contactSocialsElement {
    width: 5vw;
    height: 5vw;
}

#bigInsta {
    background: url("instagram-icon.png") no-repeat;
    background-size: cover;
}

#bigFB {
    background: url("facebook-icon.png") no-repeat;
    background-size: cover;
}

#testimonialGrid {
    margin-top: 50px;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 7vw;
    row-gap: 7vw;
    align-items: center;
}

.testimonialDiv {
    flex-basis: 40%;
    background-color: white;
    padding: 10px;
    box-shadow: 1vw 1vw #bcbcbc;
}


.testimonialDesc {
    font-size: medium;
}

.testimonialName {
    font-size: large;
    font-weight: bolder;
}

#listMenu {
    position: absolute;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bcbcbc;
    gap: 5%;
}

#menuIconDiv {
    position: absolute;
    top: 35px;
    left: 5vw;
    font-size: 25px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menuText {
    margin: 0;
    padding-left: 8px;
    font-size: 15px;
}

#listAbout {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: center;
}

#homeImage {
    grid-area: layer;
    height: 75vw;
    width: 60vw;
    object-fit: contain;
    box-shadow: 2vw 2vw #bcbcbc;
}

#blackLayerHome {
    width: 60vw;
    opacity: 0;
}

@media only screen and (max-width: 750px) {

    .testimonialDiv {
        flex-basis: 100%;
    }

    #eventPhoto {
        width: 175px;
        height: 262.5px;
    }

    #headshotPhoto {
        width: 175px;
        height: 262.5px;
    }

    #couplesPhoto {
        width: 175px;
        height: 262.5px;
    }

    #sportsPhoto {
        width: 175px;
        height: 262.5px;
    }

    .aboutDiv {
        height: 262.5px;
    }

    .aboutTitle {
        font-size: 20px;
    }

    .aboutDesc {
        font-size: 15px;
    }

    #menuLogo {
        width: 200px;
        height: 67px;
    }

    #pageContent {
        margin-top: 80px;
    }

    #welcome {
        font-size: 30px;
    }
    .sectionTitle {
        font-size: 30px;
    }

    #contactTitle {
        font-size: 30px;
    }
    #contactForm {
        width: 75%;
        margin-left: 12.5%;
    }

    .contactSocialsElement {
        width: 40px;
        height: 40px;
    }

    #albumGrid {
        grid-template-columns: 37vw 37vw;
    }
    
    .albumGridElement {
        width: 37vw;
    }

    .albumPhoto {
        width: 35vw;
        height: 35vw;
        background-size: contain;
        box-shadow: 2vw 2vw #bcbcbc;
        
    }

    #pricingDiv {
        margin-left: 3%;
    }

}

@media only screen and (max-width: 500px) {

    #menuLogo {
        width: 150px;
        height: 50px;
    }
}

@media only screen and (max-width: 370px) {

    #menuLogo {
        width: 100px;
        height: 33px;
    }
}